<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="{{ url_for('static', path='/images/logo/favicon.ico') }}" type="image/x-icon">
   <!------------------CSS Tags------------------------>
   <link rel="icon" href="{{ url_for('static', path='/images/logo/favicon.ico') }}" type="image/x-icon">
   <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.1.0/ckeditor5.css">
   <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
   integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />
   <style>
    body{
        background-color: #03609c;
    }
   </style>
</head>
<body>
    <section class="login_area">
      <div class="container h-100">
         <div class="row h-100 align-items-center justify-content-center">
            <div class="col-xl-6">
                <div class="login_inner submited_box">
                    <img src="{{ url_for('static', path='/images/submited.gif') }}" alt="" class="">
                 <h6>Mails Send Success</h6>
                    
                </div>
            </div>
         </div>
      </div>
    </section>
</body>
</html>